Framework.Service.Provider/Web References/WebService.Provider/Parm.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://parm.common.jpbi.tsb" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://parm.common.jpbi.tsb" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Parm">
    <xsd:sequence>
      <xsd:element name="version" type="xsd:string" />
      <xsd:element name="newVersion" type="xsd:string" />
      <xsd:element name="updateTime" type="xsd:string" />
      <xsd:element name="functionid" type="xsd:string" />
      <xsd:element name="serviceid" type="xsd:string" />
      <xsd:element name="screenid" type="xsd:string" />
      <xsd:element name="userId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>